CONF_VERSION = "1"

MACHINE = "{{machine}}"

DISABLE_RPI_BOOT_LOGO = "1"

# Set RPI_WIFI_ENABLE to "1" and configure RPI_WIFI_SSID/RPI_WIFI_PWD as appropriate to enable Wi-Fi
RPI_WIFI_ENABLE_fotahub-os = "0"
RPI_WIFI_SSID_fotahub-os = "<Your Wi-Fi SSID>"
RPI_WIFI_PWD_fotahub-os = "<Your Wi-Fi password>"
IMAGE_INSTALL_append += "${@bb.utils.contains('RPI_WIFI_ENABLE', '1', ' hostapd', '', d)}"

# Set root password
INHERIT += "extrausers"
EXTRA_USERS_PARAMS_fotahub-os = "usermod -P root root;"

# Comment this line to disable SSH server on target
EXTRA_IMAGE_FEATURES_fotahub-os += "ssh-server-dropbear"

# Comment this line to disable SSH-ing into target as root 
EXTRA_IMAGE_FEATURES_fotahub-os += "allow-empty-password"

# Comment/uncomment these lines to enable/disable graphics support in OS/apps images
DISTRO_FEATURES_remove_fotahub-os = "x11"
DISTRO_FEATURES_remove_fotahub-apps = "x11"

DL_DIR = "{{downloads}}"

FOTAHUB_OSTREEPUSH_USER = "root"
FOTAHUB_OSTREEPUSH_PASS = "root"

OSTREE_GPG_VERIFY = "false"

OS_UPDATE_REBOOT_OPTIONS = "--force"
OS_UPDATE_VERIFICAITON_COMMAND = "bash -c 'echo \"The downloaded OS update (revision \$1) looks good!\"'"
OS_UPDATE_SELF_TEST_COMMAND = "bash -c 'echo \"The freshly applied OS update runs very well!\"'"

# Uncomment to enable exemplary network up probe service
# IMAGE_INSTALL_append_fotahub-os = " network-up-probe"

# Uncomment to add some extra packages to OS image
# IMAGE_INSTALL_append_fotahub-os = " nano curl figlet pv"
