[Unit]
Description = FotaHub Client daemon
After = network.target

[Service]
WorkingDirectory = /usr/rootdirs/bin
ExecStart = fotahub --config {{config}} -v finish-operating-system-change

[Install]
WantedBy = multi-user.target
