[Unit]
Description = FotaHub Client daemon
After = network.target

[Service]
WorkingDirectory = /usr/bin
ExecStart = /usr/bin/python3 /usr/bin/fotahub --config {{config}} -v finish-operating-system-change

[Install]
WantedBy = multi-user.target
